<table class="table" id="search-results-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Project Name</th>
            <th>Scenario Name</th>
            <th>IRR %</th>
        </tr>
    </thead>
    <tbody>
        <%= render(partial: 'search/search_result', collection: @projects, as: :project).html_safe %>
    </tbody>
</table>