<% alert_type||='primary' %>
<div class='alert alert-<%= alert_type %> alert-dismissable rounded-0 fade show'>
    <a href="#" role="alert" data-dismiss="alert" class="close">
        <span>&times;</span>
    </a>
    <p><%= message %></p>
</div>